.input-container{
    display: flex;
    gap: 5px;
}

.task-input{
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.add-icon {
    font-size: 30px;
    cursor: pointer;
}

.error{
    color: red;
    font-weight: semi-bold;
    font-size: 20px;
}